<!doctype html>
<html lang="en">

<head>
    <title>manhwas List</title>
    <%- include("_parts/_headers.ejs", {}) %>

    <style>
    .card:hover {
        background-color: #4c4c4c;
    }
    </style>
</head>






<body>

    <div class="container">
        <div class="my-4">

            <!-- Nav Bar -->
            <nav class="navbar navbar-expand-lg navbar-dark rounded-3 bg-gray m-2">
                <div class="container-fluid">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page"><a href="/">Home</a></li>
                            <!-- <li class="breadcrumb-item"></li> -->
                        </ol>
                    </nav>
                    


                    <!-- Avatar -->
                    <div class="dropdown">
                        <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar"
                            role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                            <img src="/assets/imgs/user.webp" class="rounded-circle" height="25" alt="avatar" loading="lazy" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                            <li><a class="dropdown-item" href="#">My profile</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </div>
                    </div>
                    <!-- End - Avatar -->


                </div>
            </nav> <!-- End - Nav Bar  -->
            
            <!-- Top Banner -->
            <div class="rounded-3 px-0 m-0 my-4 mx-2 bg-gray shadow-3-strong" id="top">
                <div class="container-fluid d-flex align-items-center justify-content-between align-items-stretch p-0 m-0" style="min-height: 100px;">
                    <div style="width: 100%;" class="gif-bg ripple" ></div>
                    <!-- Add Managa Button -->
                    <button id="AddManagaButton" type="button" class="btn btn-primary" sound="6" data-mdb-ripple-color="dark" style="width: 150px;">+ New Manga</button>
                </div>
            </div> <!-- End - Top Banner -->

            <!-- manhwa List -->
            <div class="row m-0 p-0 pb-3" id="manhwas"></div>

        </div>
    </div>















    <!-- MDB -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"></script> -->
    <script type="text/javascript" src="/assets/cdn/mdb-ui-kit_6.1.0_mdb.min.js"></script>
    <!-- jquery -->
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script> -->
    <script type="text/javascript" src="/assets/cdn/jquery-3.6.3.min.js"></script>





    <script>
        // Generate Manhwa List
        refreshmanhwasList();
        function refreshmanhwasList() {
            $.ajax({
                type: "get",
                url: "/api/manhwa",
                dataType: "json",
                success: function (res) { 
                    buildmanhwasList(res) 
                }
            })
        };

        function buildmanhwasList(manhwasList) {
            // Empty old list HTML elemnts
            $("#manhwas").empty();
            // loop & add new HTML elements
            manhwasList.forEach(manhwa => {
                if (!manhwa.isDirectory) return
                $("#manhwas").append(`
                    <div class="col-12 col-md-6 col-lg-4 position-relative p-2" manhwaName="${manhwa.name}">

                        <div class="card shadow-3-strong radius-15 p-0 m-0 showMyChild" style="height: 120px;">

                            <!-- Delete Button -->
                            <div class="position-absolute top-0 end-0" style="z-index: 10;"> 
                                <button type="button" class="btn btn-icon btn-danger badge m-1 hiddenChild delete-manhwa">
                                    <i class="fa fa-trash"></i> 
                                </button>
                            </div>
                        
                            <a href="/manhwa/${manhwa.name}" class="card-body ripple h-100">
                                <h6 class="mb-0 text-light pb-1">${manhwa.name}</h6>
                                <small>${manhwa.contents.length} Chapters</small>
                            </a>

                        </div>
                    </div>
                `);
            });
        };
        





        // Create New Manhwa 
        $("#AddManagaButton").on("click", function () {
            // playAlert(sounds[4])
            Swal.fire({
                title: "Add new Manhwa?",
                text: "Write the Manhwa Title 👇",
                color: "white" ,
                icon: "info",
                background: `
                    linear-gradient(rgba(0, 0, 0, 0), 
                    rgba(0, 0, 0, 0)), 
                    black url(/assets/imgs/sworm.gif) 
                    center -45px 
                    no-repeat`,
                backdrop: `
                    rgba(0, 0, 0, 0.5)
                    url(/assets/imgs/bg_stars..webp)
                    left top
                    no-repeat`,
                showCancelButton: true,
                cancelButtonColor: "#d33",
                cancelButtonText: "Cancel 😬",
                confirmButtonColor: "#3085d6",
                confirmButtonText: "Create 😤",
                input: "text",
            }).then((result) => {
                let { isConfirmed, value } = result;
                // confirmed
                if (isConfirmed && value) {
                    // Post request
                    // $.post("/api/manhwa", { title: value }, function (data) { })
                    $.ajax({
                        type: "POST",
                        url: "/api/manhwa",
                        data: { title: value },
                        dataType: "json"
                    }, function (data) { })
                        // Success
                        .done(function (data) {
                            Swal.fire(
                                "Created!",
                                "Your Manhwa has been created.",
                                "success"
                            );
                        })
                        // Fail
                        .fail(function (data) {
                            console.log(data)
                            Swal.fire(
                                "Error!",
                                data?.responseJSON?.note,
                                "error"
                            );
                        })
                        // Finished
                        // .always(function (data) {
                        //     console.log("finished");
                        // });

                        // refresh Manhwa List
                        refreshmanhwasList();
                        return 
                };
                // Canceled
                // Sound
                playAlert("funk")
            })
        });



        // Delete a Manhwa
        $(document).on("click", ".delete-manhwa", function () {
            let manhwaName = $(this).closest("[manhwaName]").attr("manhwaName");
            
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!",
                color:"white",
                background: `
                    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                    black url(/assets/imgs/hand.gif) 
                    center center 
                    no-repeat`
            }).then((result) => {
                // Yes delete.
                if (result.isConfirmed) {
                    // Deleting request
                    return $.ajax({
                        type: "delete",
                        url: "/api/manhwa",
                        data: { title: manhwaName },
                        dataType: "json",
                        success: function (res) {
                            Swal.fire(
                                "Deleted!",
                                "Your Manhwa has been deleted.",
                                "success"
                            );
                            // refresh Manhwa List
                            refreshmanhwasList();
                        },
                        error: (err) => { 
                            console.log(err);
                            Swal.fire(
                                "Error!",
                                "Your Manhwa could not be deleted.",
                                "error"
                            );
                        }
                    });
                };
                // Cancel Delete
            });
        });

        
    </script>

    <!-- Alert Sounds -->
    <%- include("_parts/_alertSounds.ejs", {}) %>

    <!-- Scripts that I need at the end of my code -->
    <%- include("_parts/_scripts_footer.ejs", {}) %>

</body>


</html>


